body{
    background-color: rgb(10, 10, 101);
    background-repeat: no-repeat;
    background-size: cover;
}
.container{
    display:flexbox;
    background-color: rgb(45, 126, 45);
    height: 50%;
    width: 40%;
    margin-left: 30%;
    margin-top: 6%;
    border-radius: 10%;
}
.submitbtn{
    background-color: rgb(204, 245, 39);
    border-radius: 5%;
    font-size: large;

}

.reg{
    margin-left: 35%;
}
fieldset{
    width: fit-content;
    margin-left: 30%;
}
#videoelement{
    display: none;
}
#canvas{
    display: none;
}